CLIENT_ID=your_google_cloud_client_id
CLIENT_SECRET=your_google_auth_secret
REDIRECT_URI=your_redirect_uri
PORT=3001
VITE_API_URL=http://localhost:3001
ALLOWED_ORIGIN=http://localhost:5173
GMAIL_TOKENS=